<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>welkom kies hier een optie wat je wil doen</h1>
    <ul>
        <li><a href="http://localhost:3000/bekijken/0">in/uitgaven bekijken</a></li>
        <li><a href="http://localhost:3000/toevoegen">in/uitgave toevoegen</a></li>
    </ul>
    <form action="/logout" method="post">

        <button type="submit">Logout</button>
    
    </form>
</body>
</html>